<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IconMaskCenter</key>
	<dict>
		<key>HideFromEditorList</key>
		<false/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>LocalizedName</key>
		<string>ACSH.image.move</string>
		<key>Name</key>
		<string>Move</string>
		<key>SystemImageSymbolName</key>
		<string>square.grid.3x3.middle.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskKeyboard</key>
	<dict>
		<key>HideFromEditorList</key>
		<false/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>LocalizedName</key>
		<string>ACSH.image.keyboard</string>
		<key>Name</key>
		<string>Keyboard</string>
		<key>SystemImageSymbolName</key>
		<string>keyboard.macwindow</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>Image.701C834D-0CBC-4AAC-BC8B-150557E75C13</key>
	<dict>
		<key>Name</key>
		<string>bez nazwy 2</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>Image.711859B2-4504-4790-BA21-68DE8A969605</key>
	<dict>
		<key>Name</key>
		<string>copy</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>Image.7AB12E72-ADE1-4CA4-A962-53DBEB84B24A</key>
	<dict>
		<key>Name</key>
		<string>clipboard</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>Image.D274631A-3C74-4017-A774-9659FF6A3813</key>
	<dict>
		<key>Name</key>
		<string>microphone</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>RightClick</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>LocalizedName</key>
		<string>ACSH.image.rightclick</string>
		<key>Name</key>
		<string>RightClick</string>
		<key>SystemImageSymbolName</key>
		<string>contextualmenu.and.cursorarrow</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
</dict>
</plist>
